<div class="tab active" data-tab="general">
    <form autocomplete="off" class="dramatic-rolls setting-form">

        <span class="list-header">{{localize "dramatic-rolls.settings-form.critical-sounds-list-title"}}</span>
        <ul>
            {{#each critSounds}}
                <li class="form-group sound-option-group">
                    <input type="checkbox" name="critEnabled" data-dtype="Boolean" {{checked this.enabled}}/>
                    <input type="text" data-dtype="String" class="sound-path-input" {{#if this.isModuleSound}}readonly{{/if}} value={{this.path}} />
                    <button id="play-crit-sound-{{@index}}">
                        <i class="fas fa-play-circle"></i>
                    </button>
                </li>
            {{/each}}
        </ul>
        
        <br/>

        <span class="list-header">{{localize "dramatic-rolls.settings-form.fumble-sounds-list-title"}}</span>
        <ul>
            {{#each fumbleSounds}}
                <li class="form-group sound-option-group">
                    <input type="checkbox" name="fumbleEnabled" data-dtype="Boolean" {{checked this.enabled}}/>
                    <input type="text" data-dtype="String" class="sound-path-input" {{#if this.isModuleSound}}readonly{{/if}} value={{this.path}} />
                    <button id="play-fumble-sound-{{@index}}">
                        <i class="fas fa-play-circle"></i>
                    </button>
                </li>
            {{/each}}
        </ul>

        <div class="form-group" style="margin: 10px;">
            <button type="submit" name="submit">
                <i class="fas fa-save"></i> {{localize "dramatic-rolls.settings-form.save"}}
            </button>
            <button type="button" name="reset">
                <i class="fas fa-undo"></i> {{localize "dramatic-rolls.settings-form.reset"}}
            </button>
        </div>
    </form>
</div>